include LICENSE
include README.md
recursive-include wagtail_custom_code_editor/static *
recursive-include wagtail_custom_code_editor/templates *
recursive-include wagtail_custom_code_editor/migrations *
recursive-include wagtail_custom_code_editor/templatetags *